__pycache__/
research/latex/*.aux
research/latex/*.log
research/latex/*.out
research/latex/*.toc
research/latex/*.fls
research/latex/*.fdb_latexmk
research/note/*.aux
research/note/*.log
research/note/*.out
research/note/*.fls
research/note/*.fdb_latexmk
research/paper/*.aux
research/paper/*.log
research/paper/*.out
research/paper/*.fls
research/paper/*.fdb_latexmk
